.div {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.familyNode {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  gap: 20px;

}

.name {
  width: 150px;
  padding: 20px;
  height: 50px;
  border-radius: 25px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}


.child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;

}


/* .line {
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 50px;
  width: 1px;
  background-color: #ddd;
}

.line::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ddd;
}

.line::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ddd;
} */

/* ------------------------------ burble person ----------------------------- */

.burble {
  font-size: 28px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #d9e2ec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pronoun {
  color: #bcccdc;
}

.node {
  padding:  20px;  position: relative;

}

.box {
  /* outline: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 0 6px;
  
}

.patient {
  color: #40c3f7;
  background-color: #e3f8ff;
}

.family {
  color: #c9d2dc;
  background-color: #f0f4f8;
}

.sick {
  color: #e66a6a;
  background-color: #ffe3e3;
}

/* --------------------------------- MyTree --------------------------------- */

.parent {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: flex-start;
  align-items: center;
}



.children {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.myNode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  gap: 20px;
  padding: 40px 0 0 0;
}

.newNode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.newParentNode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*Now the CSS*/
/* * {margin: 0; padding: 0;} */

/* .tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
} */

/*We will use ::before and ::after to draw the connectors*/

.node::before, .node::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.node::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.node:only-child::after, .node:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.node:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.node:first-child::before, .node:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.node:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.node:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.children::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 138px;
}

.box{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	/* display: inline-block; */
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.box:hover, .box:hover+children node box {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/